doctype html
html
  head
    title= `${title}`
    style
      include css/styles.css
      include css/bootstrap.min.css

  body
    div.container.listing-reg
      h1 My Amazing App

      block content